<table class="table table-dark" ng-if="$ctrl.itemsList.length">
  <thead>
    <tr>
      <th scope="col">id</th>
      <th scope="col">Name</th>
      <th scope="col">Description</th>
      <th scope="col">Price Small</th>
      <th scope="col">Price Large</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="item in $ctrl.itemsList">
      <td>{{item.id}}</td>
      <td>{{item.name}} ({{item.short_name}})</td>
      <td>{{item.description}}</td>
      <td>{{item.price_small}}</td>
      <td>{{item.price_large}}</td>
    </tr>
  </tbody>
</table>
